.Shorten {
    text-align: center;
}

.Shorten__original-link {
    width: 50%;
    height: 30px;
    padding: 5px;
}

.Shorten__btn-shorten {
    margin: 20px;
    padding: 10px;
}

.Shorten__short-link {
    display: inline-block;
    padding: 10px;
}